body, html { 
    height: 100%;
    margin: 0;
    font-family: Georgia, Helvetica, Arial;

}
.background-image { 
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;

}
.box-clear-dark {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; 
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    padding: 0.5em;
}
.table td {
    text-align: center;   
}
th {
    font-size: small;
}
td {
    font-size: small;
}
.main-font {
    font-family: 'Roboto Mono', monospace;
}
/* .card-body {
    padding: 0 !important;
} */
.card {
    background-color: rgba(0,0,0,0.6) !important;
}
/* @media screen and (min-width: 500px) {
    body {
        overflow: auto;
    }
}
@media screen and (min-width: 700px) {
    body {
        overflow: auto;
    }
} */
.login-container {
    bottom: 50%;
}
#alert-placeholder {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 30px;
    color: white;
}

.hit-the-floor {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    font-family: Helvetica;
    float: left;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    }

.hit-the-floor a:hover {
    color: black;
}

#space {
        margin-top: 10px;
    }

.navbar-nav {
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    float: right;
}
.nav-item {
    margin-right: 3px;
}

.nav-item a{
    border-bottom: 2px solid transparent;

}

.nav-item a:hover {
    border-bottom: 2px solid #000;
}

#log-in {
    margin-top: 50px;
}